<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- Load Bootstrap and jQuery framework. -->
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"
      crossorigin="anonymous"
    ></script>
    <!-- Load custom styles and scripts. -->
    <style>
      html {
        height: 100%;
      }
      body {
        display: flex;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .btn:focus,
      .form-control:focus {
        box-shadow: none;
      }
      .jumbotron {
        padding-top: 5px;
        padding-bottom: 20px;
        margin-bottom: 10px;
      }
      .list-group {
        display: block;
        padding-bottom: 10px;
      }
    </style>
    <script>
      // Refresh the list of notes.
      function refresh(notes) {
        $('#note-list').empty();
        for (var i = 0; i < notes.length; i++) {
          notes[i].Time = changeDateFormat(notes[i].Time);
          var addtion =
            '<li class="list-group-item"><div class="media"><div class="media-body"><h5 class="mt-0">' +
            notes[i].Time +
            '</h5>' +
            notes[i].Content +
            '</div></div></li>';
          // FIXME: Optimize the refresh effect of the list.
          $(addtion).prependTo('#note-list');
        }
      }
      // Request to the server and refresh all notes.
      function loadAllNotes() {
        $.ajax({
          url: '/data',
          type: 'get',
          data: null,
          dataType: 'json',
          success: function (data) {
            $('#submit').removeClass('btn-danger').addClass('btn-success');
            refresh(data.notes);
          },
          error: function () {
            $('#submit').removeClass('btn-success').addClass('btn-danger');
          },
        });
      }
      // Parse the date format in mongodb into a simple date format.
      function changeDateFormat(cellval) {
        var dateVal = cellval + '';
        if (cellval != null) {
          // Use regular expressions.
          var reg = new RegExp('.\\d{3}\\+\\d{4}$');
          var date = new Date(dateVal.replace(reg, '').replace('T', ' '));
          var month =
            date.getMonth() + 1 < 10
              ? '0' + (date.getMonth() + 1)
              : date.getMonth() + 1;
          var day = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
          return date.getFullYear() + '/' + month + '/' + day;
        }
      }
      // Load all notes when the interface is loaded.
      $(document).ready(loadAllNotes());
      $(document).ready(function () {
        // Function to add log items to the log list.
        $('#submit').click(function () {
          var content = $('#input').val();
          var formParam = $('.form-input').serialize();
          $('#input').val('');
          $.ajax({
            url: '/data',
            type: 'post',
            data: formParam,
            dataType: 'json',
            success: function () {
              $('#submit').removeClass('btn-danger').addClass('btn-success');
              // Get and refresh the log list after each submission.
              loadAllNotes();
            },
            error: function () {
              $('#submit').removeClass('btn-success').addClass('btn-danger');
            },
          });
        });
      });
    </script>
    <title>Labnote</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Hello, world!</h1>
        <p class="lead">
          This is a laboratory log, used to record the good times and trivial
          things here.
        </p>
        <hr class="my-2" />
        <p>Please write down what you want to record here.</p>
        <form class="form-input">
          <div class="input-group">
            <textarea id="input" class="form-control" name="content"></textarea>
            <div class="input-group-append">
              <button id="submit" class="btn btn-success" type="button">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
      <ul id="note-list" class="list-group list-group-flush">
        <!-- There is going to add some notes. -->
      </ul>
    </div>
  </body>
</html>
